<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Diri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Data Mahasiswa</h1>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Date of Birth</td>
                    <td>Image</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td th:text="${name}"></td>
                     <td th:text="${tnggl}"></td>
                     <td> <img th:src="${image}"> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>